/* body {
    background: black;
}

p {
    color: white;
}

#top-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

select {
    background: black;
    color: white;
    border: 1px solid white;

}

input {
    background: black;
    color: white;
    border: 1px solid white;

}

#generate-button {
    background: black;
    color: white;
    border: 1px solid white;
} */

#top-bar {
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: stretch;
}
@media only screen and (max-width: 1024px) {
    p {
        font-size: x-large;
    }
    .input {
        flex-grow: 1;
        font-size: x-large;
    }
  }